<!-- 질문 상세 페이지 관련 템플릿 -->
{% extends 'base.html' %}  {# base.html 템플릿 상속 #}
{% block content %}  {# base.html 본문 오버라이딩 #}
<div class="container my-3">  {# 부트스트랩 컨테이너 #}
    <!-- 오류 message 표시 -->
    {# 질문 수정 시, 비정상적인 방법으로 수정할 경우 해당 오류 출력 #}
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}
    <!-- 질문 -->
    {# question : render 함수로 전달받은 질문 데이터 #}
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>  {# 질문 제목 #}  {# border-bottom : 아래방향 테두리 선 #} {# py-2 : 상하 패딩값 2 #}
    <div class="card my-3">  {# 부트스트랩 Card 컴포넌트 #}  {# my-3 : 상하 마진값 3 #}
        <div class="card-body">
            {# CSS white-space 속성 : 요소의 공백을 어떻게 처리할지 정의하는 속성 #}
            {# white-space의 pre-line 속성 값 : 여러 개의 공백은 메꾸어져 하나의 공백이 됨. 박스의 영역이 넘어가는 내용은 줄 바꿔 표시 #}
            <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>  {# 질문 내용 #}
            <div class="d-flex justify-content-end">  {# d-flex justify-content-end : 컴포넌트의 우측 정렬 #}
                <!-- 질문 수정 일시 -->
                {% if question.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정일</div>
                    <div>{{ question.modify_date }}</div>  {# 질문 수정일시 #}
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start"> {# 부트스트랩 Badge 컴포넌트 #}  {# bg-light : 연회색 배경 #}  {# text-dark : 검은색 글씨 #}  {# p-2 : 상하좌우 패딩값 2 #}
                    <div class="mb-2">{{ question.author.username }}</div>  {# 질문 글쓴이 #}
                    <div>{{ question.create_date }}</div>  {# 질문 작성일시 #}
                </div>
            </div>
            <!-- 질문 추천, 수정, 삭제 버튼 -->
            <div class="my-3">
                {# 로그인한 사용자와 질문 작성자가 동일한 경우에만 노출되도록 함 #}
                {% if request.user == question.author %}
                {# 수정 버튼 #}
                {# 질문 id(question.id)를 받아와, 링크된 해당 URL로 전달 #}
                <a href="{% url 'pybo:question_modify' question.id %}"
                   class="btn btn-sm btn-outline-secondary">수정</a>
                {# 삭제 버튼 #}
                {# href 속성값을 javascript:void(0)로 설정하면 해당 링크를 클릭해도 아무런 동작도 하지 않는다. #}
                {# 삭제를 실행할 URL을 얻기 위해 data-uri 속성을 추가하고, <삭제> 버튼이 눌리는 이벤트를 확인할 수 있도록 class 속성에 "delete" 항목을 추가 #}
                {# data-uri 속성은 자바스크립트에서 클릭 이벤트 발생시 this.dataset.uri와 같이 사용하여 그 값을 얻을 수 있다. #}
                {# href에 삭제 URL을 직접 사용하지 않고 이러한 방식을 사용하는 이유는, 삭제 버튼을 클릭했을 때 "정말로 삭제하시겠습니까?" 와 같은 재확인창이 필요하기 때문 #}
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                    data-uri="{% url 'pybo:question_delete' question.id %}">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- 답변 -->
    <h5 class="border-bottom my-3 py-2">{{ question.answer_set.count }}개의 답변이 있습니다.</h5>  {# question.answer_set.count : 답변의 총 개수 #}
    {% for answer in question.answer_set.all %}  {# question.answer_set.all을 순회하며 순차적으로 하나씩 answer에 대입 #}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>  {# 답변 내용 #}
            <div class="d-flex justify-content-end">
                <!-- 답변 수정 일시 -->
                {% if answer.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정일</div>
                    <div>{{ answer.modify_date }}</div>  {# 답변 수정일시 #}
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ answer.author.username }}</div>  {# 답변 글쓴이 #}
                    <div>{{ answer.create_date }}</div>  {# 답변 작성 일시 #}
                </div>
            </div>
            <!-- 답변 추천, 수정, 삭제 버튼 -->
            <div class="my-3">
                {# 로그인한 사용자와 답변 작성자가 동일한 경우에만 노출되도록 함 #}
                {% if request.user == answer.author %}
                {# 수정 버튼 #}
                {# 답변 id(answer.id)를 받아와, 링크된 해당 URL로 전달 #}
                <a href="{% url 'pybo:answer_modify' answer.id %}"
                   class="btn btn-sm btn-outline-secondary">수정</a>
                {# 삭제 버튼 #}
                <a href="#" class="delete btn btn-sm btn-outline-secondary"
                   data-uri="{% url 'pybo:answer_delete' answer.id %}">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- 답변 등록 -->
    <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">  {# 링크된 해당 URL로, 작성된 form 데이터를 POST 방식으로 전달 #}
        {% csrf_token %}  {# csrf 공격 방지 코드. form으로 전송한 데이터가 실제 웹 페이지에서 작성한 데이터인지 판단하는 가늠자 역할 #}
        {# (질문의) 답변 작성 시, 발생하는 오류의 내용 출력과 관련된 코드가 작성된 템플릿 파일 #}
        {# (pybo/views/answer_views의) answer_create 함수에서 form.is_valid() 가 실패할 경우 발생하는 오류의 내용을 표시하기 위한 템플릿 코드 #}
        {% include "form_errors.html" %}
        <div class="mb-3">  {# mb-3 : 하(bottom) 마진값 3 #}
            <label for="content" class="form-label">답변내용</label>  {# form-control, form-label : 부트스트랩 Form 컴포넌트 #}
            {# {% if not user.is_authenticated %}disabled{% endif %} : 로그인 상태가 아닌 경우 textarea 태그에 disabled 속성을 적용하여 입력을 못하게 만듦 #}
            <textarea {% if not user.is_authenticated %}disabled{% endif %}  {# <textarea></textarea> : 답변의 내용을 입력할 수 있는 텍스트창 #}
                    name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary">  {# 답변등록 버튼. 해당 버튼을 클릭하면 작성한 form 데이터를 전달 #} {# btn btn-primary : 부트스트랩 버튼 컴포넌트 #}
    </form>
</div>
{% endblock %}
<!-- 재확인 창 관련 자바스크립트 코드 -->
{% block script %}  {# base.html JS 오버라이딩 #}
<script type='text/javascript'>
<!-- (질문 또는 답변의) 삭제 버튼 관련 재확인 창 -->
{# 삭제 버튼을 눌렀을 때, 삭제 재확인 창("정말로 삭제하시겠습니까?")을 호출하기 위한 자바스크립트 코드 #}
{# 삭제 버튼 관련 코드에 class="delete"가 적용되어 있으므로, delete라는 클래스를 포함하는 컴포넌트(예:버튼이나 링크)를 클릭하면 "정말로 삭제하시겠습니까?" 라는 질문을 하고 "확인"을 선택했을 때 해당 컴포넌트의 data-uri 값으로 URL 호출을 하라는 의미 #}
{# 아래와 같은 스크립트를 추가하면 "삭제" 버튼을 클릭하고 "확인"을 선택하면 data-uri 속성에 해당하는 {% url 'pybo:question_delete' question.id %}(또는, {% url 'pybo:answer_delete' answer.id %})이 호출될 것 #}
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        }
    });
});
</script>
{% endblock %}