<!-- 질문 상세 페이지 관련 템플릿 -->
<!-- 질문 -->
{# question : render 함수로 전달받은 질문 데이터 #}
<h1>{{ question.subject }}</h1>  {# 질문 제목 #}
<div>
    {{ question.content }}  {# 질문 내용 #}
</div>
<!-- 답변 -->
<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>  {# question.answer_set.count : 답변의 총 갯수 #}
<div>
    <ul>
    {% for answer in question.answer_set.all %}  {# question.answer_set.all을 순회하며 순차적으로 하나씩 answer에 대입 #}
        <li>{{ answer.content }}</li>  {# 답변 내용 #}
    {% endfor %}
    </ul>
</div>
<!-- 답변 등록 -->
<form action="{% url 'pybo:answer_create' question.id %}" method="post">  {# 링크된 해당 URL로, 작성된 form 데이터를 POST 방식으로 전달 #}
{% csrf_token %}  {# csrf 공격 방지 코드. form으로 전송한 데이터가 실제 웹 페이지에서 작성한 데이터인지 판단하는 가늠자 역할 #}
<textarea name="content" id="content" rows="15"></textarea>  {# <textarea></textarea> : 답변의 내용을 입력할 수 있는 텍스트창 #}
<input type="submit" value="답변등록">  {# 답변등록 버튼. 해당 버튼을 클릭하면 작성한 form 데이터를 전달 #} {# btn btn-primary : 부트스트랩 버튼 컴포넌트 #}
</form>