<!-- 질문 목록 관련 템플릿 -->
{% extends 'base.html' %}  {# base.html 템플릿 상속 #}
{% load pybo_filter %}  {# pybo_filter.py 템플릿 필터 사용 #}
{% block content %}  {# base.html 본문 오버라이딩 #}
<div class="container my-3">  {# 부트스트랩 컨테이너 #}
    <table class="table">  {# 부트스트랩 테이블 태그 #}
        <thead>
        <tr class="text-center table-dark">
            <th>번호</th>
            <th style="width:50%">제목</th>  {# 제목의 너비가 전체에서 50%를 차지하도록 설정 #}
            <th>글쓴이</th>  {# 글쓴이 항목 추가 #}
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {# question_list : render 함수로 전달받은 질문 목록 데이터 #}
        {% if question_list %}  {# question_list가 있다면, #}
        {% for question in question_list %}  {# question_list를 순회하며 순차적으로 하나씩 question에 대입 #}
        <tr class="text-center">  {# 테이블 번호 #}
            <td>
                {# 테이블에 표시할 질문 게시글 번호 #}
                <!-- 번호 = 전체 건수 - 시작 인덱스 - 현재 인덱스 + 1 -->
                {# question_list.paginator.count : 전체 건수, question_list.start_index : 시작 인덱스, forloop.counter0 : 현재 인덱스 #}
                {# forloop.counter0 : 루프 내의 순서로 0부터 표시 #}
                {# 직접 만든 템플릿 필터(pybo_filter.py) sub 함수 사용 #}
                {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td class="text-start">  {# 테이블 제목 #}
                {# 질문 id(question.id)를 받아와, 받아온 id와 관련된 질문 제목(question.subject)을 링크된 주소에 출력 #}
                {# {{ question.id }} : for 문에 의해 대입된 question 객체의 id 번호 #}
                {# {{ question.subject }} : for 문에 의해 대입된 question 객체의 제목 #}
                {# 하드코딩 되어 있던 /pybo/{{ question.id }} 링크를 URL 네임스페이스와 URL 별칭을 활용한 {% url 'pybo:detail' question.id %}로 변경 #}
                {# question.id는 pybo/urls.py URL 매핑에 정의된 <int:question_id>에 전달해야 하는 값 #}
                <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                {# (질문의) 답변 개수 표시 #}
                {% if question.answer_set.count > 0 %}  {# (해당 질문의) 답변의 개수가 1개 이상이라면, #}
                <span class="text-danger small mx-2">{{ question.answer_set.count }}</span> {# 답변 개수를 표시 #}
                {% endif %}
            </td>
            <td>{{ question.author.username }}</td>  {# 질문 글쓴이 #}
            <td>{{ question.create_date }}</td>  {# 작성 일시 #}
        </tr>
        {% endfor %}
        {% else %}  {# question_list가 없다면, #}
        <tr>
            <td colspan="4">질문이 없습니다.</td>  {# 테이블 항목 4개 설정 #}
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징 처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {% if question_list.has_previous %}  {# 이전 페이지가 있는지 체크 #}
        <li class="page-item">
            {# 이전 페이지가 존재한다면, 이전 페이지 번호로 이동 #}
            {# {{ question_list.previous_page_number }} : 이전 페이지 번호 #}
            <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
        </li>
        {% else %}  {# 이전 페이지가 없는 경우에는, "이전" 링크가 비활성화되도록 함 #}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지 리스트 -->
        {% for page_number in question_list.paginator.page_range %}  {# 페이지 리스트 루프 #}
        {# 페이지 리스트의 페이지 번호가 현재 페이지(question_list.number)를 기준으로 좌우 5개씩 보이도록 설정 #}
        {# |add:-5는 5만큼 빼라는 의미이고, |add:5는 5만큼 더하라는 의미 #}
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
        {% if page_number == question_list.number %}  {# 해당 페이지 번호가 현재 페이지 번호와 같은지 체크 #}
        {# 현재 페이지 번호라면, 해당 번호에 활성화(active)되어 표시됨. 파란색으로 색칠됨. #}  {# 즉, 현재 페이지 번호인 해당 번호는 색칠해 티나게 표시하겠다는 말. #}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}  {# 그렇지 않다면, 그냥 번호만 표시됨. 현재 페이지 번호 외의 번호들 #}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if question_list.has_next %}  {# 다음 페이지가 있는지 체크 #}
        <li class="page-item">
            {# 다음 페이지가 존재한다면, 다음 페이지 번호로 이동 #}
            {# {{ question_list.next_page_number }} : 다음 페이지 번호 #}
            <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
        </li>
        {% else %}  {# 다음 페이지가 없는 경우에는, "다음" 링크가 비활성화되도록 함 #}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징 처리 끝 -->
    {# 질문 등록하기 버튼 생성 #}
    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기</a>  {# 버튼을 클릭하면, pybo:question_create 별칭에 해당되는 URL이 호출 #}
</div>
{% endblock %}