<!-- 회원가입 관련 템플릿 -->
{% extends "base.html" %} {# base.html 템플릿 상속 #}
{% block content %}
<div class="container my-3">
    <form method="post" action="{% url 'common:signup' %}">  {# 링크된 해당 URL로, 작성된 form 데이터를 POST 방식으로 전달 #}
        {% csrf_token %}
        {# 회원가입 실패 시, 발생하는 오류의 내용 출력과 관련된 코드가 작성된 템플릿 파일 #}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            {# {{ form.subject.value|default_if_none:'' }} : 오류가 발생했을 경우 기존에 입력했던 값을 유지하기 위함 #}
            {# |default_if_none:'' : 폼 데이터(form.username.value)에 값이 없을 경우 None 이라는 문자열이 표시되는데, None 대신 공백으로 표시하라는 의미의 템플릿 필터 #}
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">생성하기</button> {# 생성하기 버튼. 해당 버튼을 클릭하면 작성한 form 데이터를 전달 #}
    </form>
</div>
{% endblock %}
